@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border-color: #191919;
  color: #F9D783;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border-color: #191919;
  color: #F9D783;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #ffffff;
  border-color: #191919;
  color: #191919;
  box-shadow: 0 0 5px 3px #191919;
}

.btn-small-black {
  background-color: #191919;
  color: #ffffff;
  border: none;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-small-black:hover {
  background-color: #F9D783;
  color: #191919;
}

.btn-small-white {
  background-color: #ffffff;
  color: #191919;
  border: none;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.btn-small-white:hover {
  background-color: #191919;
  color: #ffffff;
}

html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.section-title {
  padding-top: 120px;
  padding-bottom: 90px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.not-found-error {
  font-size: 40px;
  font-weight: 700;
}

footer {
  background-color: #0E1021;
}
footer .link-section {
  display: none;
}
@media (min-width: 1200px) {
  footer .link-section {
    display: block;
  }
}
footer .link-section .container {
  display: grid;
  grid-template-columns: auto 15% 15% 15% 15%;
  padding-top: 70px;
}
footer .link-section .container .logotype {
  display: grid;
  grid-template-columns: auto;
  row-gap: 30px;
  margin-right: 7.5vw;
}
footer .link-section .container .logotype p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
footer .link-section .container .link-columns {
  display: flex;
  flex-direction: column;
}
footer .link-section .container .link-columns h3 {
  color: #FFFFFF;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
footer .link-section .container .link-columns a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  text-decoration: none;
  line-height: 2.5em;
}
footer .link-section .container .link-columns a:hover {
  text-decoration: underline;
}
footer .link-section .wavy-lines-footer {
  position: relative;
  display: -webkit-box;
  margin-left: auto;
}
footer .footer-section {
  border-top: 1px solid #707070;
}
footer .footer-section .page-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .footer-section .page-bottom .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media (min-width: 1200px) {
  footer .footer-section .page-bottom .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }
}
footer .footer-section .page-bottom .container .copyright {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #707070;
}
@media (min-width: 1200px) {
  footer .footer-section .page-bottom .container .copyright {
    font-size: 16px;
  }
}
footer .footer-section .page-bottom .container .social-media a {
  color: #FFFFFF;
  font-size: 1.3rem;
  margin-left: 20px;
}
footer .footer-section .page-bottom .container .social-media a:hover {
  color: #a8a8a8;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menu-bars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menu-bars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contact-information-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contact-information-bar {
    display: flex;
  }
}
header .container .contact-information-bar .contact-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #dad9d3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contact-information-bar .contact-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .contact-information-bar .contact-box.last {
  border: none;
}
header .container .social-media {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .social-media {
    display: block;
  }
}
header .container .social-media a {
  color: #3d3d3d;
  font-size: 1.3rem;
  margin-left: 13px;
}
header .container .social-media a:hover {
  color: #a8a8a8;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .wavy-lines-top {
  display: inline;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-width: 100%;
  height: auto;
}
@media (min-width: 850px) {
  .showcase .container .wavy-lines-top {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (min-width: 1200px) {
  .showcase .container .wavy-lines-top {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 25px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.company-ads .container {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: -30px;
}
.company-ads .container img {
  padding: 50px;
}
@media (min-width: 1000px) {
  .company-ads .container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (min-width: 1200px) {
  .company-ads .container {
    display: flex;
  }
}

.features .container {
  text-align: center;
}
@media (min-width: 1200px) {
  .features .container {
    text-align: start;
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid #dad9d3;
    margin-top: 80px;
  }
}
.features .container .section-title {
  display: grid;
  align-items: center;
  margin-left: 90px;
  margin-right: 95px;
}
.features .container .section-title h2 {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: -10px;
}
@media (min-width: 1200px) {
  .features .container .section-title h2 {
    font-size: 45px;
  }
}
.features .container .section-title .btn-yellow {
  margin-top: 50px;
  margin-bottom: 200px;
  text-align: center;
}
.features .container .feature-grid {
  display: none;
}
@media (min-width: 1200px) {
  .features .container .feature-grid {
    display: grid;
    grid-template-columns: auto auto;
    -moz-column-gap: 100px;
         column-gap: 100px;
    margin-top: 100px;
    margin-right: 50px;
  }
}
.features .container .feature-grid .advice .image {
  position: relative;
}
.features .container .feature-grid .advice .image .main-image {
  position: relative;
  top: 10px;
}
.features .container .feature-grid .advice .image .star-1 {
  position: relative;
  top: -10px;
  left: -30px;
}
.features .container .feature-grid .advice .image .star-2 {
  position: relative;
  top: -8px;
  left: -15px;
}
.features .container .feature-grid .advice .image .star-3 {
  position: relative;
  top: 5px;
  left: -7px;
}
.features .container .feature-grid .startup .image {
  position: relative;
}
.features .container .feature-grid .startup .image .main-image {
  position: relative;
  top: 10px;
}
.features .container .feature-grid .startup .image .star-1 {
  position: relative;
  top: -15px;
  left: -30px;
}
.features .container .feature-grid .startup .image .star-2 {
  position: relative;
  top: -8px;
  left: -16px;
}
.features .container .feature-grid .startup .image .star-3 {
  position: relative;
  top: 5px;
  left: -12px;
}
.features .container .feature-grid .financial {
  margin-top: -40px;
}
.features .container .feature-grid .financial .image {
  position: relative;
}
.features .container .feature-grid .financial .image .main-image {
  position: relative;
  top: 10px;
}
.features .container .feature-grid .financial .image .star-1 {
  position: relative;
  top: -10px;
  left: -27px;
}
.features .container .feature-grid .financial .image .star-2 {
  position: relative;
  top: -8px;
  left: -19px;
}
.features .container .feature-grid .financial .image .star-3 {
  position: relative;
  top: 5px;
  left: -11px;
}
.features .container .feature-grid .management {
  margin-top: -40px;
}
.features .container .feature-grid .management .image {
  position: relative;
}
.features .container .feature-grid .management .image .main-image {
  position: relative;
  top: 10px;
}
.features .container .feature-grid .management .image .star-1 {
  position: relative;
  top: -13px;
  left: -30px;
}
.features .container .feature-grid .management .image .star-2 {
  position: relative;
  top: -8px;
  left: -20px;
}
.features .container .feature-grid .management .image .star-3 {
  position: relative;
  top: 5px;
  left: -14px;
}
.features .container .feature-grid h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
}
.features .container .feature-grid p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}

.about-company .container {
  display: flex;
  text-align: center;
  margin-top: -290px;
}
@media (min-width: 1200px) {
  .about-company .container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 150px;
    margin-top: 100px;
  }
}
.about-company .container .founder {
  display: none;
  position: relative;
}
@media (min-width: 1200px) {
  .about-company .container .founder {
    display: block;
  }
}
.about-company .container .founder .founder-image {
  margin-left: 0px;
}
@media (min-width: 1400px) {
  .about-company .container .founder .founder-image {
    margin-left: 80px;
  }
}
.about-company .container .founder .squiggly-line {
  position: absolute;
  top: 50px;
  left: 50px;
}
.about-company .container .founder .blue-card {
  display: inline-block;
  background-color: #BEEBFF;
  position: absolute;
  bottom: 50px;
  left: 30px;
  text-align: start;
}
.about-company .container .founder .blue-card h3 {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 40px;
  justify-content: start;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20;
}
.about-company .container .founder .blue-card h3 p {
  font-size: 16px;
  margin-top: 10px;
  margin-left: 10px;
  color: #F94D1C;
  font-weight: 700;
}
.about-company .container .founder .blue-card .quote {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
  margin-left: 30px;
  margin-bottom: 60px;
}
.about-company .container .section-title h2 {
  font-size: 30px;
}
@media (min-width: 768px) {
  .about-company .container .section-title h2 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .about-company .container .section-title {
    margin-top: -70px;
    margin-right: 60px;
    text-align: start;
  }
}
.about-company .container .section-title .text-up {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  color: #707070;
}
.about-company .container .section-title .text-down {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 35px;
  color: #707070;
}
.about-company .container .section-title .button-and-video {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
}
.about-company .container .section-title .button-and-video .btn-black {
  margin-right: 45px;
}
.about-company .container .section-title .button-and-video .btn-black:hover {
  color: #191919;
}
.about-company .container .section-title .button-and-video .video-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #191919;
  text-decoration: none;
  margin-inline-start: 10px;
}
.about-company .container .section-title .button-and-video .video-btn img {
  margin-right: 15px;
}
.about-company .container .section-title .button-and-video .video-btn:hover {
  text-decoration: underline;
  color: #707070;
}

.service-section {
  background-color: #F0EFE9;
  margin-top: 90px;
  padding-bottom: 100px;
  position: relative;
}
.service-section img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.service-section .container .service-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .service-section .container .service-button {
    margin-top: 15px;
  }
}
.service-section .container .section-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .service-section .container .section-title {
    text-align: start;
  }
}
.service-section .container .service-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  position: relative;
}
.service-section .container .service-boxes .service-box {
  background-color: #ffffff;
  height: 300px;
  width: 270px;
  padding-left: 20px;
  margin-bottom: 40px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  text-decoration: none;
}
.service-section .container .service-boxes .service-box .line {
  border: 1px solid #191919;
  width: 35px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.service-section .container .service-boxes .service-box .arrow-ring {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  background-color: #191919;
  color: #ffffff;
  height: 50px;
  width: 50px;
  left: 170px;
  top: 30px;
  font-size: 20px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.service-section .container .service-boxes .service-box .arrow-ring:hover {
  background-color: #191919;
  border-color: #191919;
  color: #F9D783;
}
.service-section .container .service-boxes .service-box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #191919;
}
.service-section .container .service-boxes .service-box p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #707070;
}
.service-section .container .service-boxes .service-box:hover {
  background-color: #F9D783;
}
.service-section .container .service-boxes .service-box:hover .arrow-ring {
  background-color: #ffffff;
  color: #191919;
}

.choose-us-section {
  position: relative;
}
.choose-us-section .grey-card {
  z-index: 0;
}
@media (min-width: 1200px) {
  .choose-us-section .grey-card {
    position: absolute;
    background-color: #F0EFE9;
    width: 60%;
    height: 400px;
    bottom: 0px;
    right: 0;
  }
}
.choose-us-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -70px;
}
@media (min-width: 1200px) {
  .choose-us-section .container {
    position: relative;
    display: grid;
    grid-template-columns: 40% 55%;
    margin-bottom: 30px;
  }
}
.choose-us-section .container .information-column {
  z-index: 1;
  background-color: #FFFFFF;
}
.choose-us-section .container .information-column .section-title {
  text-align: center;
}
@media (min-width: 1200px) {
  .choose-us-section .container .information-column .section-title {
    text-align: start;
  }
}
.choose-us-section .container .information-column .information-highlight .info-card {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .choose-us-section .container .information-column .information-highlight .info-card {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    text-align: start;
  }
}
.choose-us-section .container .information-column .information-highlight .info-card img {
  margin-top: -35px;
  margin-right: 20px;
  height: auto;
  width: 10%;
}
.choose-us-section .container .information-column .information-highlight h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.choose-us-section .container .information-column .information-highlight p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
.choose-us-section .container .two-people {
  display: none;
}
@media (min-width: 1200px) {
  .choose-us-section .container .two-people {
    display: block;
    position: absolute;
    bottom: 100px;
    right: 0px;
  }
}

.project-case-section .container .section-title {
  text-align: center;
}
.project-case-section .container .projects-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-case-section .container .projects-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-case-section .container .projects-cases .projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration-color: #ffffff;
  transition: opacity 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
.project-case-section .container .projects-cases .projects img {
  width: 100%;
  height: auto;
}
.project-case-section .container .projects-cases .projects h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-case-section .container .projects-cases .projects .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-case-section .container .projects-cases .projects .readmore i {
  margin-left: 3px;
}
.project-case-section .container .projects-cases .projects:hover {
  text-decoration: underline;
  opacity: 70%;
}
.project-case-section .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-our-team {
  background-color: #F0D082;
}
.meet-our-team .container {
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .meet-our-team .container {
    padding-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 60px;
  }
}
.meet-our-team .container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .meet-our-team .container .header {
    display: flex;
    text-align: start;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
}
.meet-our-team .container .team-members {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
@media (min-width: 1200px) {
  .meet-our-team .container .team-members {
    display: flex;
    justify-content: center;
    gap: 25px;
  }
}
.meet-our-team .container .team-members .link {
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}
.meet-our-team .container .team-members .link:hover {
  opacity: 70%;
}
.meet-our-team .container .team-members .member h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 25px;
}
.meet-our-team .container .team-members .member p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
.meet-our-team .container .menu-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  margin-top: 20px;
}
.meet-our-team .container .menu-dots a {
  color: #191919;
  opacity: 50%;
}
.meet-our-team .container .menu-dots a.active {
  color: #191919;
  opacity: 100%;
}
.meet-our-team .container .menu-dots a:hover {
  color: #191919;
  opacity: 100%;
}

.review-section {
  background-color: #F0D082;
  padding-bottom: 100px;
}
.review-section .container {
  background-color: #FFFFFF;
  padding-bottom: 100px;
}
.review-section .container .section-title {
  text-align: center;
}
.review-section .container .reviews {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 20px;
}
@media (min-width: 1200px) {
  .review-section .container .reviews {
    display: flex;
    margin-left: 85px;
    margin-right: 85px;
    gap: 60px;
  }
}
.review-section .container .reviews .card {
  border-width: 2px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0%;
}
@media (min-width: 1200px) {
  .review-section .container .reviews .card {
    border: none;
  }
}
.review-section .container .reviews .card .score p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: #707070;
  margin-top: 20px;
}
.review-section .container .reviews .card .person {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .review-section .container .reviews .card .person {
    justify-content: start;
  }
}
.review-section .container .reviews .card .person img {
  height: 60px;
  width: 60px;
  margin-right: 20px;
}
.review-section .container .reviews .card .person .person-title {
  line-height: 60%;
}
.review-section .container .reviews .card .person .person-title h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.review-section .container .reviews .card .person .person-title p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #F94D1C;
}
.review-section .container .center-content {
  margin-top: 60px;
}

.articles-section .container .header {
  display: grid;
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .articles-section .container .header {
    display: flex;
    text-align: start;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
  }
}
.articles-section .container .header .btn-transparent {
  margin-top: -50px;
}
@media (min-width: 768px) {
  .articles-section .container .header .btn-transparent {
    margin-top: 0px;
  }
}
@media (min-width: 1200px) {
  .articles-section .container .header .btn-transparent {
    margin-bottom: -40px;
    margin-top: 0px;
  }
}
.articles-section .container .article-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
}
@media (min-width: 1200px) {
  .articles-section .container .article-row {
    display: flex;
    flex-direction: row;
    align-items: normal;
    text-align: start;
    justify-content: space-between;
  }
}
.articles-section .container .article-row .article {
  width: 400px;
  text-decoration-color: #FFFFFF;
  transition: opacity 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
  margin-left: 25px;
}
.articles-section .container .article-row .article .picture {
  position: relative;
}
.articles-section .container .article-row .article .picture .article-image {
  z-index: 0;
  margin-bottom: -40px;
  margin-top: 30px;
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .articles-section .container .article-row .article .picture .article-image {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 400px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.articles-section .container .article-row .article .picture .date {
  background-color: #F9D783;
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 20px;
}
.articles-section .container .article-row .article .picture .date .day {
  color: #191919;
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.articles-section .container .article-row .article .picture .date .month {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 576px) {
  .articles-section .container .article-row .article .picture .date {
    position: absolute;
    top: 50px;
    left: 25px;
  }
}
@media (min-width: 768px) {
  .articles-section .container .article-row .article .picture .date {
    position: absolute;
    float: left;
    left: 25px;
  }
}
@media (min-width: 1200px) {
  .articles-section .container .article-row .article .picture .date {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 15px;
    margin-bottom: -40px;
  }
}
.articles-section .container .article-row .article .picture p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .articles-section .container .article-row .article .picture p {
    margin-top: 10px;
  }
}
.articles-section .container .article-row .article .info .content {
  display: none;
}
.articles-section .container .article-row .article .info h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}
.articles-section .container .article-row .article .info p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
.articles-section .container .article-row .article:hover {
  opacity: 80%;
  text-decoration: underline;
  text-decoration-color: #191919;
}
.articles-section .container .menu-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.articles-section .container .menu-dots a {
  color: #191919;
  opacity: 50%;
}
.articles-section .container .menu-dots a.active {
  color: #191919;
  opacity: 100%;
}
.articles-section .container .menu-dots a:hover {
  color: #191919;
  opacity: 100%;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .wavy-lines-signup {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 0;
}
@media (min-width: 1200px) {
  .newsletter .wavy-lines-signup {
    display: block;
  }
}
.newsletter .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .newsletter .container {
    flex-direction: row;
  }
}
.newsletter .container h2 {
  font-family: "DM sans", sans-serif;
  text-align: center;
  font-size: 30px;
}
@media (min-width: 1200px) {
  .newsletter .container h2 {
    text-align: start;
    font-size: 45px;
    font-weight: 700;
  }
}
.newsletter .container form {
  display: grid;
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .newsletter .container form {
    display: block;
    margin-top: 0px;
  }
}
.newsletter .container form .btn-yellow {
  margin-top: 25px;
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  margin-right: 10px;
}

.all-articles-section .section-title {
  display: flex;
  justify-content: start;
}
.all-articles-section .container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.all-articles-section .container .article {
  width: 400px;
  text-decoration-color: #FFFFFF;
  transition: opacity 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
  margin-bottom: 30px;
}
.all-articles-section .container .article .picture {
  position: relative;
}
.all-articles-section .container .article .picture .article-image {
  z-index: 0;
  margin-bottom: -40px;
  margin-top: 30px;
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .all-articles-section .container .article .picture .article-image {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 400px;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.all-articles-section .container .article .picture .date {
  background-color: #F9D783;
  width: 80px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 20px;
}
.all-articles-section .container .article .picture .date .day {
  color: #191919;
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.all-articles-section .container .article .picture .date .month {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 576px) {
  .all-articles-section .container .article .picture .date {
    position: absolute;
    top: 50px;
    left: 25px;
  }
}
@media (min-width: 768px) {
  .all-articles-section .container .article .picture .date {
    position: absolute;
    float: left;
    left: 25px;
  }
}
@media (min-width: 1200px) {
  .all-articles-section .container .article .picture .date {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 15px;
    margin-bottom: -40px;
  }
}
.all-articles-section .container .article .picture p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
  margin-top: 50px;
}
@media (min-width: 1200px) {
  .all-articles-section .container .article .picture p {
    margin-top: 10px;
  }
}
.all-articles-section .container .article .info .content {
  display: block;
}
.all-articles-section .container .article .info h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}
.all-articles-section .container .article .info p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
.all-articles-section .container .article:hover {
  opacity: 80%;
  text-decoration: underline;
  text-decoration-color: #191919;
}

.connect-section {
  position: relative;
  background-color: #F0EFE9;
  z-index: 0;
}
.connect-section .container img {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}
.connect-section .container .message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 60px;
}
.connect-section .container .message p {
  font-family: "Inter", sans-serif;
  color: #191919;
  font-size: 16px;
  font-weight: 500;
  z-index: 2;
  word-spacing: 1.2em;
}
.connect-section .container .message p strong {
  font-weight: 700;
}
.connect-section .container .message h1 {
  font-family: "DM Sans", sans-serif;
  color: #191919;
  font-weight: 700;
  font-size: 56;
  z-index: 2;
}

.info-card-section {
  padding-top: 80px;
  padding-bottom: 60px;
}
.info-card-section .container .contact-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1200px) {
  .info-card-section .container .contact-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.info-card-section .container .contact-row .card {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  border-color: #dad9d3;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .info-card-section .container .contact-row .card {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 100px;
    border-color: #dad9d3;
    align-items: start;
    text-align: start;
  }
}
@media (min-width: 1400px) {
  .info-card-section .container .contact-row .card {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 100px;
    border-color: #dad9d3;
  }
}
.info-card-section .container .contact-row .card h3 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.info-card-section .container .contact-row .card p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.6em;
}
@media (min-width: 1400px) {
  .info-card-section .container .contact-row .card p {
    font-size: 18px;
    font-weight: 500;
    line-height: 0.6em;
  }
}
.info-card-section .container .contact-row .card .image {
  margin-right: 20px;
}
.info-card-section .container .contact-row .card .connect-box {
  display: flex;
}

.error {
  font-family: "DM Sans", sans-serif;
  margin-left: 23px;
  margin-bottom: 7px;
  color: rgb(213, 23, 23);
  font-weight: 700;
}

.message-section .container {
  background-color: #F0EFE9;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
.message-section .container .info h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 90px;
}
@media (min-width: 1200px) {
  .message-section .container .info h2 {
    color: #191919;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    padding-top: 90px;
  }
}
.message-section .container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.message-section .container .form label {
  font-family: "DM Sans", sans-serif;
  margin-left: 23px;
  margin-bottom: 7px;
}
.message-section .container .form .name {
  margin-left: 15%;
  margin-right: 15%;
}
.message-section .container .form .name .form-input {
  display: block;
  width: 100%;
  color: #191919;
  border: none;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
}
.message-section .container .form .email {
  margin-left: 15%;
  margin-right: 15%;
}
.message-section .container .form .email .form-input {
  display: block;
  width: 100%;
  color: #191919;
  border: none;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
}
.message-section .container .form .message {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 30px;
}
.message-section .container .form .message .form-input {
  display: block;
  width: 100%;
  color: #191919;
  border: none;
  resize: none;
  height: 150px;
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 30px;
}
.message-section .container .form .btn-yellow {
  margin-left: 15%;
  margin-right: 15%;
}
.message-section .container .form .error-message {
  text-align: center;
  color: rgb(213, 23, 23);
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.map-section iframe {
  padding-top: 70px;
  width: 100%;
  height: 700px;
}

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #ffffff;
  z-index: 1000;
  border: none;
  font-size: 35px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #424242;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #F3F3F3;
  width: 120px;
  padding-top: 12px;
  border-radius: 25px;
}

.expanded-article {
  margin-top: 100px;
}
.expanded-article .container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto 30%;
  grid-template-areas: "article article searchbox";
  gap: 100px;
}
.expanded-article .container .article {
  grid-area: article;
  max-width: 100%;
}
.expanded-article .container .article .title {
  font-size: 40px;
}
.expanded-article .container .article .article-img {
  max-width: 100%;
  height: auto;
}
.expanded-article .container .article .info {
  display: flex;
  gap: 20px;
}
.expanded-article .container .article .info .published {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.expanded-article .container .article .info .author {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.expanded-article .container .article .info .category {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.expanded-article .container .article .info .yellow-dot {
  color: #F2C94C;
  font-size: 14px;
}
.expanded-article .container .article .content {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  gap: 20px;
}
.expanded-article .container .article .content .first {
  margin-bottom: 40px;
}
.expanded-article .container .article .content .second {
  margin-bottom: 40px;
}
.expanded-article .container .article .content .third {
  margin-bottom: 40px;
}
.expanded-article .container .article .content .fourth {
  margin-bottom: 70px;
}
.expanded-article .container .article .quote {
  position: relative;
  display: flex;
  gap: 30px;
}
.expanded-article .container .article .quote .icon {
  position: relative;
  top: -20px;
  font-size: 40px;
}
.expanded-article .container .article .quote p {
  font-family: "DM Sans", sans-serif;
  font-size: 22;
  font-style: italic;
  font-weight: 500;
}
.expanded-article .container .article .last {
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.expanded-article .container .article .tag-row {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.expanded-article .container .recent-posts {
  grid-area: searchbox;
}

.different-background-color {
  background-color: #F0EFE9;
  margin-top: 80px;
}

.searchbox .input-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3F3F3;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin-top: 100px;
}
.searchbox .input-area input {
  width: 70%;
  border: none;
  background-color: #F3F3F3;
}
.searchbox .input-area input:focus {
  outline: none;
}
.searchbox .input-area i {
  position: absolute;
  left: 30px;
}
.searchbox .card-1 {
  border: 1px solid #dad9d3;
  margin-top: 30px;
  padding: 35px;
}
.searchbox .card-1 .border-between {
  border: 1px solid #dad9d3;
  margin-bottom: 15px;
}
.searchbox .card-1 .post {
  text-decoration: none;
  color: #191919;
}
.searchbox .card-1 .post:hover {
  text-decoration: underline;
}
.searchbox .card-1 .post h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.searchbox .card-1 .post p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.searchbox .card-1 h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.searchbox .card-1 .underline {
  border: 1px solid #191919;
  width: 50px;
  margin-top: -12px;
  margin-bottom: 30px;
}
.searchbox .card-2 {
  border: 1px solid #dad9d3;
  margin-top: 30px;
  padding: 35px;
}
.searchbox .card-2 h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22;
  font-weight: 700;
}
.searchbox .card-2 .category {
  display: flex;
  text-decoration: none;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #191919;
}
.searchbox .card-2 .category:hover {
  text-decoration: underline;
}
.searchbox .card-2 .category span {
  color: rgb(183, 183, 183);
}
.searchbox .card-2 .underline {
  border: 1px solid #191919;
  width: 50px;
  margin-top: -12px;
  margin-bottom: 30px;
}