.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #F3F3F3;
    width: 120px;
    padding-top: 12px;
    border-radius: 25px;

}