.articles-section {

    .container{

        .scrollers {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            margin-bottom: 40px;



            .left {
                border: none;
                background-color: #3f3f3f;
                color: #FFFFFF;
                border-radius: 20px;
                height: 30px;
                width: 30px;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

                &:hover {
                    background-color: #F9D783;
                    color: #191919;
                }
            }

            .right {
                border: none;
                background-color: #3f3f3f;
                color: #FFFFFF;
                border-radius: 20px;
                height: 30px;
                width: 30px;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

                &:hover {
                    background-color: #F9D783;
                    color: #191919;
                }
            }

        }

        .header{
            display: grid;
            text-align: center;
            margin-bottom: 50px;


            @media (min-width: 1200px) {
                display: flex;
                text-align: start;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 0px;
            }



            .btn-transparent {
                margin-top: -50px;

                @media (min-width: 768px) {
                    margin-top: 0px;
                }

                @media (min-width: 1200px) {
                    margin-bottom: -40px;
                    margin-top: 0px;
                }
            }
        }

        .article-row {
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           text-align: center;
           overflow: hidden;


           



            @media (min-width: 1200px) {
                display: flex;
                flex-direction: row;
                align-items: normal;
                text-align: start;
                justify-content: space-between;
                

            }

            .article {
                width: 400px;
                text-decoration-color: #FFFFFF;
                transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
                margin-left: 25px;

                &:last-child {
                    margin-right: 23px;
                }
                
                

                .picture{
                    position: relative;
                    

                    .article-image {
                        z-index: 0;
                        margin-bottom: -40px;
                        margin-top: 30px;
                        width: 100%;
                        height: auto;

                        @media (min-width: 1200px) {
                            margin-bottom: 0px;
                            margin-top: 0px;
                            width: 400px;
                            height: 250px;
                            object-fit: cover;
                        }
                    }

                    .date {
                        background-color: #F9D783;
                        width: 80px;
                        height: 80px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        top: 50px;
                        left: 20px;


                        .day {
                            color: #191919;
                            font-size: 22px;
                            font-weight: 700;
                            font-family: 'DM Sans', sans-serif;
                        }

                        .month {
                            color: #191919;
                            font-family: 'Inter', sans-serif;
                            font-size: 16px;
                            font-weight: 500;
                        }

                        @media (min-width: 576px) {
                            position: absolute;
                            top: 50px;
                            left: 25px;

                        }

                        @media (min-width: 768px) {
                            position: absolute;
                            float: left;
                            left: 25px;
                            
                        }

                        @media (min-width: 1200px) {
                            flex-direction: column;
                            justify-content: center;
                            position: absolute;
                            z-index: 1;
                            top: 5px;
                            left: 15px;
                            margin-bottom: -40px;
                        }
                    }
                    
                    p {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        color: #707070;

                        margin-top: 50px;

                        @media (min-width: 1200px) {
                            margin-top: 10px;  

                        }
                    }
                }

                .info {

                    .content {
                        display: none;
                    }
                    
                    h3 {
                        color: #191919;
                        font-family: 'DM Sans', sans-serif;
                        font-weight: 700;
                        font-size: 22px;
                        margin-bottom: 20px;
                    }

                    p {
                        font-family: 'Inter', sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        color: #707070;
                    }
                }

                &:hover {
                    opacity: 80%;
                    text-decoration: underline;
                    text-decoration-color: #191919;
                }
            }   
        }

        .menu-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            font-size: 12px;
            padding-top: 40px;
            padding-bottom: 80px;

            
            a {
                color: #191919;
                opacity: 50%;

                &.active {
                    color: #191919;
                    opacity: 100%;

                }

                &:hover {
                    color: #191919;
                    opacity: 100%;
                }
                
            }
        }
    }
}