@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

html, body {
    color: #191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.section-title {
    padding-top: 120px;
    padding-bottom: 90px;

    @media (min-width: 768px) {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    p {
        color: #F94D1C;
        margin-bottom: 10px;
    }
    h2 {
        color: #191919;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;           
}

.not-found-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.not-found-error {
    font-size: 40px;
    font-weight: 700;
}

