.meet-our-team {
    background-color: #F0D082;
    

    .container {
        padding-bottom: 60px;

        @media (min-width: 1200px) {
            padding-top: 30px;
            margin-bottom: 0px;
            padding-bottom: 60px;
        }


        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-bottom: 40px;

            @media (min-width: 1200px) {
                display: flex;
                text-align: start;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;
            }
        }

        .team-members {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;


            @media (min-width: 1200px) {
                display: flex;
                justify-content: center;
                gap: 25px;
            }

            .link {
                text-decoration: none;
                transition: opacity 0.3s ease-in-out;

                &:hover {
                    opacity: 70%;
                }
            }

            
            .member {

                h3 {
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    margin-top: 25px;
                }

                p {
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 500;
                    color: #707070;
                }
            }


        }

        .menu-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            font-size: 12px;
            margin-top: 20px;

            
            a {
                color: #191919;
                opacity: 50%;


                &.active {
                    color: #191919;
                    opacity: 100%;

                }

                &:hover {
                    color: #191919;
                    opacity: 100%;

                }
                
            }
            
        }
    }
}