.newsletter {
    background-color: #F0EFE9;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;

    .wavy-lines-signup {
        display: none;
        position: absolute;
        bottom: 40px;
        right: 0;

        @media (min-width: 1200px) {
            display: block;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        

        @media (min-width: 1200px) {
            flex-direction: row;
        }


        h2 {
            font-family: 'DM sans', sans-serif ;
            text-align: center;
            font-size: 30px;

            @media (min-width: 1200px) { 
                text-align: start;
                font-size: 45px;
                font-weight: 700;
            }
        }

        form{
            display: grid;
            margin-top: 40px;

            @media (min-width: 1200px) {
                display: block;
                margin-top: 0px;
            }

            .btn-yellow {
                margin-top: 25px;
            }

            input {
                color: #191919;
                text-decoration: none;
                padding: 15px 30px;
                font-size: 16px;
                border-radius: 25px;
                outline: none;
                border: 1px solid rgb(25, 25, 25, 0.10);
                margin-right: 10px;

            }
        }
    }
}