.connect-section {
    position: relative;
    background-color: #F0EFE9;
    z-index: 0;

    .container {
        img {
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: 0; 
            max-width: 100%;
            height: auto;   
    
        }
    
        .message {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 60px;
            
            p {
                font-family: 'Inter', sans-serif;
                color: #191919;
                font-size: 16px;
                font-weight: 500;
                z-index: 2;
                word-spacing: 1.2em;

                strong {
                    font-weight: 700;
                
                }
            }
    
            h1 {
                font-family: 'DM Sans', sans-serif;
                color: #191919;
                font-weight: 700;
                font-size: 56;
                z-index: 2;
            }
        }
    }

}