.project-case-section {
    .container {

        .section-title {
            text-align: center;

            
        }

        .projects-cases {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }

            .projects {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;
                color: #191919;
                text-decoration-color: #ffffff;
                transition: opacity 0.3s ease-in-out, text-decoration 0.3s ease-in-out;

                img {
                    width: 100%;
                    height: auto;
                }

                h3 {
                    color: #191919;
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                .readmore {
                    padding: 15px;
                    display: block;
                    text-align: right;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #191919;


                    i {
                        margin-left: 3px;
                    }
                }

                &:hover {
                    text-decoration: underline;
                    opacity: 70%;
                }
            }
        }
        .center-content {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}