.showcase {
    background-color: #F0EFE9;
    position: relative;
    z-index: 0;


    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .wavy-lines-top {
            display: inline;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            max-width: 100%;
            height: auto;
            

            @media (min-width: 850px) {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                width: fit-content;
            }
    
            @media (min-width: 1200px) {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: -1;
                width: fit-content;
            }
            
        }

        .content{
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px) {
                text-align: left;
            }

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;

                @media (min-width: 768px) {
                    font-size: 70px;
                }

                @media (min-width: 1400px) {
                    font-size: 86px;
                }
            }

            p {
                font-size: 18px;
                padding-top: 25px;
                padding-bottom: 35px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px) {
                    font-size: 20px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }

            a {
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;
                
                @media (min-width: 768px) {
                    margin-right: 10px;
                    display: inline-block;
                }
            }
        }

        img {
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }
}